# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.venv/
*.env
local.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Ignore output files but keep the directory
outputs/*
audios/*
!audios/.gitkeep
!outputs/.gitkeep

.idea/

poetry.lock